a {
  display: inline-block;
  padding: 0 0.125em;
  border-bottom: 2px solid $accent-color;
  color: $base-font-color;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  &:focus {
    outline: 1px solid black;
    outline-offset: 1px;
  }
}
