<extends src='layout.html'>
  <block name='content'>
    <h1 prismic-text>{{{ JSON.stringify(homepage.data.homepage.title.value) }}}</h1>
    <h2 prismic-text>{{{ JSON.stringify(homepage.data.homepage.description.value) }}}</h2>
    <div prismic-html>{{{ JSON.stringify(homepage.data.homepage.contents.value) }}}</div>
    <ul>
      <each loop='post of posts'>
        <li>
          <a href="posts/{{ post.slugs[0] }}" prismic-text>{{{ JSON.stringify(post.data.post.title.value) }}}</div>
        </li>
      </each>
    </ul>
  </block>
</extends>
