body {
  font-family: $base-font-family;
  color: $base-font-color;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;

  &.muted {
    color: $muted-font-color;
  }
}

h1,
h2,
h3 {
  font-family: $heading-font-family;
}

h4,
h5,
h6 {
  font-family: $base-font-family;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}

p {
  margin-top: ($base-spacing/2);
  margin-bottom: $base-spacing;
}
