@import "../../styles/variables";

.root {
  padding: $base-spacing;
  border: 1px $base-border-color solid;
  margin-bottom: $base-spacing;

  @media (min-width: $breakpoint-md) {
    height: 100%;
  }
}

.link {
  display: block;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;

    .title {
      background-color: $accent-color;
    }
  }
}

.title {
  margin-top: 0;
  transition: background-color 100ms ease-in-out;
  border-bottom: 2px solid $accent-color;
  background-color: rgba($accent-color, 0);
  display: inline-block;
}
